<footer class="footer">
    <div class="container">
        <img src="{{ '/assets/images/logo-prefeitura.png' | relative_url }}" alt="Logo da Prefeitura de São Paulo" class="logo-prefeitura">
        <p>Esta página faz parte do compromisso com a transparência e participação cidadã.</p>
        <a href="https://github.com/h-pgy/site_pdm_25_28_versao_inicial" target="_blank" class="github-link">
            <img src="{{ '/assets/images/github-icon.svg' | relative_url }}"alt="GitHub" class="logo-github"> Código Fonte no GitHub
        </a>

    </div>
</footer>
