<div id="modalPDM" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3 class="modal-title">O Processo Participativo no PDM</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel metus in lacus convallis facilisis.</p>
        <p>Fusce quis arcu at erat malesuada ultricies et non turpis. Nulla facilisi.</p>
        <p>Aliquam eget nunc nec felis convallis tempus. Mauris id sapien sit amet felis cursus dictum.</p>
        <p>Pellentesque at erat convallis, aliquet dolor sit amet, tincidunt nisi.</p>
        <img src="{{ '/assets/images/diagrama_pdm.png' | relative_url }}" alt="Diagrama do Processo Participativo">
    </div>
</div>
