<div id="modal-{{ programa.id }}" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('{{ programa.id }}')">&times;</span>
        <h3 class="modal-title">{{ programa.periodo }}</h3>
        <p class="prefeito">Prefeito: {{ programa.prefeito }}</p>
        <p class="modal-text">{{ programa.detalhes }}</p>
        <h4>Documentos para Download:</h4>
        <div class="downloads">
            {% for documento in programa.documentos %}
            <a href="{{ documento.link }}" target="_blank" class="btn-download">{{ documento.nome }}</a>
            {% endfor %}
        </div>
    </div>
</div>
