<div id="modalPDM" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3 class="modal-title">O Processo Participativo no PDM</h3>
        <p><strong>1. Prefeito é eleito:</strong> Após as eleições municipais, o prefeito assume a administração da cidade, comprometendo-se a apresentar um planejamento estratégico para a gestão.</p>
        <p><strong>2. Programa de Metas é elaborado:</strong> As áreas técnicas da Prefeitura iniciam a construção do Programa de Metas, definindo objetivos, indicadores e diretrizes com base no plano de governo e nas demandas da cidade.</p>
        <p><strong>3. Audiências são realizadas:</strong> A população participa ativamente do processo, contribuindo com sugestões e avaliações em audiências públicas realizadas em todas as regiões da cidade e em debates temáticos.</p>
        <p><strong>4. Prefeitura analisa as contribuições:</strong> Todas as sugestões recebidas são analisadas pelas equipes técnicas da Prefeitura, que avaliam a viabilidade de implementação e consolidam uma devolutiva à população.</p>
        <p><strong>5. Versão final do PDM é elaborada:</strong> Com base na participação popular, ajustes são realizados e a versão final do Programa de Metas é apresentada, formalizando os compromissos da gestão municipal.</p>
        <p><strong>6. Monitoramento é iniciado:</strong> Após a implementação do Programa de Metas, a Prefeitura inicia o acompanhamento contínuo das ações e metas estabelecidas, garantindo transparência e prestação de contas à sociedade.</p>
        <img src="{{ '/assets/images/diagrama_pdm.webp' | relative_url }}" alt="Diagrama do Processo Participativo">
    </div>
</div>
