<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programa de Metas 2025-2028</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    

    <!-- CSS principal -->
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />

    <!-- Scripts -->
    <script src="{{ '/assets/js/scripts.js' | relative_url }}" defer></script>
</head>
<body>

    {% include navbar.html %}  <!-- Inclui a Navbar -->

    <main>
        {{ content }}  <!-- Aqui será injetado o conteúdo das páginas -->
    </main>

</body>
</html>
